{% extends "base.html" %}
{% load humanize %}

{% block title %}{{car.name}}{% endblock title %}

{% block head %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?api=AIzaSyAAthgpXRTqDLqBDnHG_ZbUjNmvPfiQvv4&sensor=true"></script>
<script>
var map;
var marker;
var line_points = new google.maps.MVCArray();
var lines;
function update() {
  $.getJSON('/api/car/{{car.pk}}', function(data){
    $("#speed").html(data.speed);
    $("#array_current").html(data.array_current + " A");
    $("#motor_current").html(data.motor_current + " A");
    $("#tritium_current").html(data.tritium_current + " A");
    $("#tritium_volt").html(data.tritium_volt + " V");
    $("#battery_volt").html(data.battery_volt + " V");
    $("#last_updated").html(data.time);
    if (data.connected) {
      $("#last_updated").removeClass('red');
    } else {
      $("#last_updated").addClass('red');
    }
    center = new google.maps.LatLng(data.lat, data.lng);
    line_points.push(center);
    map.setCenter(center);
    marker.setPosition(center);
  });
}

$(document).ready(function(){
  setInterval(update, 1000);
  initialize();
});

function initialize() {
  var myOptions = {
    zoom: 15,
    center: new google.maps.LatLng(0, 0),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  map = new google.maps.Map(document.getElementById('map_canvas'),
      myOptions);

  marker = new google.maps.Marker({
    position: map.getCenter(),
    map: map,
    title: '{{car.name}} is here!'
  });
  
  lines = new google.maps.Polyline({
    map: map,
    path: line_points
  });
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
<style>
.red {
  color: red;
}
</style>
{% endblock head %}

{% block container %}
<div class="hero-unit">
  <h1 class="pull-right">
    <span id="speed">
      {% if not data_packets.0.speed %}
        0
      {% else %}
        {{data_packets.0.speed_as_mph}}
      {% endif %}
    </span>
    <small>mph</small>
  </h1>
  <h1>{{car.name}}</h1>
  <p id="last_updated">
    {% if data_packets.0 %}
      Last updated {{data_packets.0.time|naturaltime}}
    {% else %}
      Not connected
    {% endif %}
  </p>
</div>
<div class="row">
  <div class="span3">
    <ul class="nav nav-tabs nav-stacked">
      <li><a href="#">
        Array Current: 
        <span id="array_current" class="pull-right">
          {% if data_packets.0 %}
            {{data_packets.0.array_current}} A
          {% else %}
            N/A
          {% endif %}
        </span>
      </a></li>
      <li><a href="#">
        Motor Current: 
        <span id="motor_current" class="pull-right">
          {% if data_packets.0 %}
            {{data_packets.0.motor_current}} A
          {% else %}
            N/A
          {% endif %}
        </span>
      </a></li>
      <li><a href="#">
        Tritium Current: 
        <span id="tritium_current" class="pull-right">
          {% if data_packets.0 %}
            {{data_packets.0.tritium_current}} A
          {% else %}
            N/A
          {% endif %}
        </span>
      </a></li>
      <li><a href="#">
        Battery volts: 
        <span id="battery_volt" class="pull-right">
          {% if data_packets.0 %}
            {{data_packets.0.battery_volt}} V
          {% else %}
            N/A
          {% endif %}
        </span>
      </a></li>
      <li><a href="#">
        Tritium volts: 
        <span id="tritium_volt" class="pull-right">
          {% if data_packets.0 %}
            {{data_packets.0.tritium_volt}} V
          {% else %}
            N/A
          {% endif %}
        </span>
      </a></li>
    </ul>
  </div>
  <div class="span9">
    <div id="map_canvas" style="width: 100%; height: 500px"></div>
  </div>
</div>
{% endblock container %}